@use "colors" as *;

.section-features {
  padding: 20rem;
  height: 95vh;
  background-blend-mode: multiply;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-color: $color-grey-light;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-items: center;
  align-items: center;
  background-color: $color-white;
}

.features-box {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba($color-white, 0.8);
  box-shadow: 0 1.5rem 4rem rbga($color-black, 0.15);
  transition: transform 0.3s;
  border-radius: 3px;
  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to bottom,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}
