@use "colors" as *;


.footer{
    background-color: $color-black2;
    padding : 10rem;
    font-size: 1.5rem;

    &__logo-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contents{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap : 10rem
    }

    &__navigation{
        width: 50%;
    }

    &__list{
        color : $color-white;
        gap: 3rem;
        border-top: 1px solid $color-white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        li {
            list-style: none;
            flex-grow: true;
            
            a:link,
            a:visited,
            a:active {
              color: $color-white;
              text-decoration: none;
              text-transform: uppercase;
              display: inline-block;
              white-space: nowrap;
              word-spacing: .8rem;
              transition: all .3s;
              padding : 0 1rem;
            }

            a:hover,
            a:active
            {
                background-image: linear-gradient(to right,$color-primary-light , $color-primary-dark);
                box-shadow: 0 1rem 2rem rgba($color-black, .4);
                -webkit-background-clip: text;
                background-clip: text;
                color : transparent;
                transform: scale(1.1);
            }
          }
    }

    &__copyright_box{

        color : $color-white;
        font-size: 1.6rem;
        word-spacing: 1rem;
        border-top: 1px solid $color-white;
        width: 50%;
        a {
            color: $color-white;
            text-decoration: none;
          }

    }
}

.footer__list,
.footer__copyright {
  margin-top: 0;
  padding-top: 2rem;
  border-top: .5px solid $color-white;
}

