@use "colors" as *;
@use "card";

.section-tours {
  background-color: $color-grey-light;
  padding: 25rem 10rem 10rem 10rem;
  margin-top: -20rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  justify-items: center; // center items horizontally within each cell
  align-items: center; // center items vertically within each cell
}
